doctype html
head
  meta(charset='UTF-8')
  block title
    title EGZAMIN main page
  link(rel='stylesheet' href='/static/css/egzamin.css')
header.header
  a(href='/')
    img.logo(src='/static/img/logo.male.png' alt='logo firmy')
  h1 Egzamin
.container
  aside.leftbar
    .title Wie&sacute;ci z planet
    dl
      dt Awaria phalanges na HD 147873 c
      dd
        | Planowane usuni&eogon;cie awarii w ci&aogon;gu najbli&zdot;szych 3 epok.
      dt Lorem ipsum dolor sit amet
      dd
        | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
        | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
        | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
        | Pellentesque sagittis nisl sed auctor elementum.
      dt Ut euismod mi nisi, sit amet congue enim semper nec.
      dd
        | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
        | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
        | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
        | Pellentesque sagittis nisl sed auctor elementum.
      dt Nulla ultrices interdum dolor sit amet sagittis
      dd
        | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
        | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
        | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
        | Pellentesque sagittis nisl sed auctor elementum.
  block content
  aside.rightbar
    .title Pracownicy miesi&aogon;ca
    div
      div
        img(src='/static/img/twarz.3.jpg' alt='Daisy')
        |                     Daisy Waters
      div
        img(src='/static/img/twarz.4.jpg' alt='Guy')
        |                     Guy Durand
      div
        img(src='/static/img/twarz.2.jpg' alt='Isar')
        |                     Isar Shad
      div
        img(src='/static/img/twarz.1.jpg' alt='Samir')
        |                     Samir Amer
footer.footer 
    h1 Tomasz Ziębowicz
