doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='stylesheet' href='/css/style.css')
  block title


body.strona

  .header 
    .left 
        img(src='/img/logo.png' alt='Logo')
        a.link(href=`/`)  Lista memow
    .right EGZAMINv2
  aside.lewa
    .tytul Legendarne memy
    ul
      li
        a(href='/img/l1.jpg' target='_blank')
          img(src='/img/l1.jpg' alt='Legendarny mem 1')
      li
        a(href='/img/l2.jpg' target='_blank')
          img(src='/img/l2.jpg' alt='Legendarny mem 2')
      li
        a(href='/img/l3.jpg' target='_blank')
          img(src='/img/l3.jpg' alt='Legendarny mem 3')
      li
        a(href='/img/l4.jpg' target='_blank')
          img(src='/img/l4.jpg' alt='Legendarny mem 4')
      li
        a(href='/img/l5.jpg' target='_blank')
          img(src='/img/l5.jpg' alt='Legendarny mem 5')
  block content
  aside.prawa
    .tytul Informacje ze &sacute;wiata mem&oacute;w
    p
      | Gdyby to by&lstrok;a prawdziwa strona, to tu by&lstrok;yby bardzo interesuj&aogon;ce
      | informacje ze &sacute;wiata mem&oacute;w.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      | aliquip ex ea commodo consequat. Duis aute irure dolor in
      | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      | culpa qui officia deserunt mollit anim id est laborum.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      | aliquip ex ea commodo consequat. Duis aute irure dolor in
      | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      | culpa qui officia deserunt mollit anim id est laborum.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      | minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      | aliquip ex ea commodo consequat. Duis aute irure dolor in
      | reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      | pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
      | culpa qui officia deserunt mollit anim id est laborum.
  .stopka &copy;2022 Stowarzyszenie Galerii Mem&oacute;w
