doctype html
head
    meta(charset='UTF-8')
    block title
    link(rel='stylesheet' href='/css/egzamin.css')

header
    a(href='/')
        img.logo(src='/img/logo.male.png' alt='logo firmy')
    h1 Egzamin

main
    aside.leftbar
        .title Wieści z planet
        dl
            dt Awaria phalanges na HD 147873 c
            dd
                | Planowane usuni&eogon;cie awarii w ci&aogon;gu najbli&zdot;szych 3 epok.
            dt Lorem ipsum dolor sit amet
            dd
                | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
                | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
                | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
                | Pellentesque sagittis nisl sed auctor elementum.
            dt.more Ut euismod mi nisi, sit amet congue enim semper nec.
            dd.more
                | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
                | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
                | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
                | Pellentesque sagittis nisl sed auctor elementum.
            dt.more Nulla ultrices interdum dolor sit amet sagittis
            dd.more
                | Mauris suscipit lacinia lobortis. Mauris vel viverra ex. Ut id tincidunt nulla. Aenean condimentum
                | facilisis nisi. Quisque ullamcorper augue at rhoncus ullamcorper. Proin vitae ante velit. Etiam
                | consequat, dui eget vulputate tristique, metus orci pretium odio, id pharetra urna purus sed est.
                | Pellentesque sagittis nisl sed auctor elementum.
 
    block content

    aside.rightbar
        .title Pracownicy miesiąca
        div
            div
                img(src='/img/twarz.3.jpg' alt='Daisy')
                |                     Daisy Waters
            div
                img(src='/img/twarz.4.jpg' alt='Guy')
                |                     Guy Durand
            div
                img(src='/img/twarz.2.jpg' alt='Isar')
                |                     Isar Shad
            div
                img(src='/img/twarz.1.jpg' alt='Samir')
                |                     Samir Amer


footer
    b Grzegorz Cichosz
